@font-face {
    font-family: 'GT Super Display';
    src: url('GTSuperDisplay-Bold.woff2') format('woff2'),
        url('GTSuperDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('Aileron-Regular.woff2') format('woff2'),
        url('Aileron-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('Aileron-SemiBold.woff2') format('woff2'),
        url('Aileron-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aileron';
    src: url('Aileron-Bold.woff2') format('woff2'),
        url('Aileron-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


