
/*===============================================
Default css
===============================================*/
body{
	margin:0;
	padding:0;
    font-family: 'ITC Avant Garde Gothic Std';
    background: #FFF;
    position: relative;
    z-index: 1;
}
body:after{
	position: absolute;
	content: "";
	max-width:1140px;
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin:0 auto;
	background: #FFF;
	z-index: -1;
}
@font-face {
    font-family: 'ITC Avant Garde Gothic Std Book';
    src: url('../font/ITCAvantGardeStd-Bk.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-Bk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('../font/ITCAvantGardeStd-BkCnObl.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-BkCnObl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std Book Condensed';
    src: url('../font/ITCAvantGardeStd-BkCn.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-BkCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('../font/ITCAvantGardeStd-BoldObl.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-BoldObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('../font/ITCAvantGardeStd-BkObl.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-BkObl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std Bold Condensed';
    src: url('../font/ITCAvantGardeStd-BoldCn.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-BoldCn.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('../font/ITCAvantGardeStd-Bold.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('../font/ITCAvantGardeStd-BoldCnObl.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-BoldCnObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std Demi Condensed';
    src: url('../font/ITCAvantGardeStd-DemiCn.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-DemiCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('../font/ITCAvantGardeStd-Md.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('../font/ITCAvantGardeStd-DemiCnObl.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-DemiCnObl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('../font/ITCAvantGardeStd-DemiObl.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-DemiObl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std Demi';
    src: url('../font/ITCAvantGardeStd-Demi.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('../font/ITCAvantGardeStd-MdObl.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-MdObl.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std Medium Condensed';
    src: url('../font/ITCAvantGardeStd-MdCn.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-MdCn.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('../font/ITCAvantGardeStd-MdCnObl.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-MdCnObl.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std Extra';
    src: url('../font/ITCAvantGardeStd-XLt.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-XLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std Extra Light Condensed';
    src: url('../font/ITCAvantGardeStd-XLtCn.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-XLtCn.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('../font/ITCAvantGardeStd-XLtCnObl.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-XLtCnObl.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('../font/ITCAvantGardeStd-XLtObl.woff2') format('woff2'),
        url('../font/ITCAvantGardeStd-XLtObl.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}



h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}
ul{
	margin: 0;
	padding:0;
	list-style: none;
}
a{
	margin:0;
	text-decoration: none;
	outline: none;
}
a:hover{
	text-decoration:none;
}
input, button, textarea, select{
	outline: none;
}

h1{
	font-size: 38px;
	font-weight: 700;
	line-height: 45px;
}
p{
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
}

/*=================================================================
				Start Main css
=================================================================*/


/*Header area design */
.header_area_design{
	-webkit-box-shadow: 0px 2px 4px rgba(46, 52, 62, 0.05);
	        box-shadow: 0px 2px 4px rgba(46, 52, 62, 0.05);
}
.container-fluid {
	max-width: 1340px;
	width: 100%;
	margin: 0 auto;
}
.header_all {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 80px;
}
.logo {
	padding-right: 32px;
}
.logo img {
	height: 54px;
	width: auto;
	margin-top: -8px;
}
.all_menu {
	max-width: 90%;
	flex: 0 0 90%;
	display: flex;
}
.all_menu ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	justify-content: center;
}
.all_menu ul li{
}
.all_menu ul li a {
	font-weight: 500;
	font-size: 16px;
	color: #2E343E;
	padding: 10px 35px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.all_menu ul li:hover a{
	opacity: 0.7;
}
/*End Header area design*/

/*Banner area design */
.banner_area_design {
	overflow: hidden;
	background: rgba(20, 185, 255, 0.05);
}
.banner_left_con{
	padding:126px 0;
	padding-bottom: 30px;
}
.banner_left_con h1{
	color: #000;
	padding-left: 20px;
	position: relative;
	z-index: 99;
}
.line11{
	overflow: hidden;
	width: 250px;
	height: 8px;
	background: #14B9FF;
	border-radius: 3px;
	margin:5px 0;
}
.banner_left_con p{
	padding: 50px;
	padding-right: 0;
	line-height: normal;
	position: relative;
	z-index: 99;
}
.button_pl{
	position: relative;
	z-index: 99999;
}
.button_pl p{
	padding: 0;
	text-align: center;
}
.button_pl ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.button_pl ul li{
}
.button_pl ul li a{
}
.button_pl ul li a img{
}
.button_pl ul li:hover a{
}
.banner_img{
}
.banner_img img {
	width: 165%;
	margin-left: -42%;
}
/*End Banner area design */

/*Feature area design */
.feature_area_design {
	background: url(../images/home/bg1.png) no-repeat scroll 0 0 / 100% 100%;
	padding: 60px 0;
	padding-bottom: 20px;
	position: relative;
	z-index: 1;
	background-color: #f3fcff;
}

.fe_sing {
	text-align: center;
}
.f_icon {
	min-height: 121px;
	text-align: center;
	margin-bottom: 20px;
}
.f_icon img{
}
.fe_sing p {
	max-width: 263px;
	margin: 0 auto;
}
/*End Feature area design */

/*reconnect_area_design*/
.reconnect_area_design{
	padding: 35px 0;
	overflow: hidden;
}
.heading_con{
}
.heading_con h1{
	text-align: center;
}
.heading_con p{
	padding: 32px 0;
	width:92%;
	margin:0 auto;

}
.video_acc{
}
.video {
	width: 100%;
	position: relative;
	text-align: center;
	z-index: 1;
	background: url(../images/home/shap.png) no-repeat scroll 11px 0px / 97% 95%;
}
.video iframe{
	max-width: 544px;
	margin: 0 auto;
	width: 100%;
	height: 296px;
}
/*End reconnect_area_design*/

/******Faq Area *****/
/*Tab CSS */
/*Faq Tabs */
.mb_0_11 {
	margin-bottom: 0 !important;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	display: inline-table;
	width: 83%;
	color: #2E343E;
	font-size: 28px;
	font-weight: 700;
	padding: 10px 0;
}

.card_body_2 p {
	color: #000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	font-weight: 500;
	font-size: 16px;
	display: inline-table;
	width: 100%;
	line-height: 22px;
	padding-top: 0;
}

.card_2 {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
	border: 0px !important;
}


.accordion_area_2 .card_2 {
  border: 0 !important;
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
.accordion_area_2 .card_2:last-child{
  border-bottom:0 !important;
}
.accordion_area_2 .card_header_2 {
  padding:12px 0;
  padding: .75rem 0;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 0;
  padding-right: 12px;
}
.accordion_area_2 .card_header_2 p {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  color: #e3952a;
}
.accordion_area_2 .card_body_2 p {
  font-size: 16px;
  color: #888888;
  font-weight: 300;
}
.accordion_area_2 .card_2 {
  background: transparent;
}
.faq-area {
}
.card_header_2 > a.collapsed::before {
	content: '';
	height: 22px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 22px;
	color: #000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	right: 8px;
	top: 21px;
	font-size: 21px;
	border: none;
	font-weight: 600;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background: url(../images/icon/plus.png);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 60%;
	line-height: inherit;
	align-items: center;
}

.card_header_2 > a:before {
	position: absolute;
	content: '';
	height: 22px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	float: right;
	width: 22px;
	color: #1580b5;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	right: 8px;
	top: 21px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	line-height: inherit;
	align-items: center;
	background: url(../images/icon/minus.png);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 60%;
	background-size: 11px;
}
.button.button-2 a:hover {
	background: #0d99db !important;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	color:#FFFFFF;
}

.card_header_2:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card_body_2 {
	padding: 0px 21px;
	background: #FFF;
	padding-bottom: 17px;
}
.card_header_2 a {
  padding: 10px 21px;
  margin-bottom: 0;
  display: block;
}
.card_header_2 {
  padding: 0 !important;
  margin-bottom: 0 !important;
  background-color: transparent !important;
  border-bottom: 0 !important;
}
.card_header_2 a p {
	color: #EC008C;
}
.card_header_2 a.collapsed p{
	color: #000;
}
.card_header_2 a{
	border-bottom: 2px solid transparent;
}
.collapsed {
	border-bottom: 2px solid rgba(46, 52, 62, 0.5) !important;
}
.collapse.show {
	border-bottom: ;
	border-bottom: 2px solid #ec008c;
}
.faq-area {
	max-width: 400px;
	width: 100%;
}

.card_body_2 ul{
	margin-top: 10px;

}
.card_body_2 ul li {
	position: relative;
	font-size: 16px;
	padding-left: 25px;
	margin-bottom: 8px;
}
.card_body_2 ul li::before {
	position: absolute;
	content: "";
	width: 17px;
	height: 14px;
	background: url(../images/icon/check.png) no-repeat scroll 0 0 / 100% 100%;
	left: 0;
	top: 7px;
}
.center_align{
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

/*newslatter_area_design*/
.newslatter_area_design{
	background: url(../images/home/bg2.png) no-repeat scroll 0 0 / 100% 100%;
	padding: 75px 0;
	position: relative;
	z-index: 9999;
	overflow: hidden;
	opacity: 0.9;
}
.news_ti{
}
.news_ti h1 {
	padding-left: 37px;
	color: #FFF;
}
.new_form{
}
.newslatter_div {
	max-width: 590px;
	width: 100%;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	margin-top: 11px;
}
.input{
}
.input input {
	width: 100%;
	height: 45px;
	background: rgba(255,255,255,0.8);
	border: none;
	border-radius: 4px;
	font-size: 18px;
	padding: 15px;
	letter-spacing: 0.5px;
	color: #2E343E;
	font-family: ITC Avant Garde Gothic Std;
}
.input input::-webkit-input-placeholder{
	color: #2E343E;
	opacity: 1;
	z-index: 1;
}
.input input::-moz-placeholder{
	color: #2E343E;
	opacity: 1;
	z-index: 1;
}
.input input:-ms-input-placeholder{
	color: #2E343E;
	opacity: 1;
	z-index: 1;
}
.input input::-ms-input-placeholder{
	color: #2E343E;
	opacity: 1;
	z-index: 1;
}
.input input::placeholder{
	color: #2E343E;
	opacity: 1;
	z-index: 1;
}
.newslatter_div button {
	font-family: ITC Avant Garde Gothic Std;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #EC008C;
	outline: none;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 165px;
	border:none;
	cursor: pointer;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.newslatter_div button:hover{
	opacity: 0.7;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
  color: #FFF;
  font-size: 14px;
  margin-top: 10px;
}

.form-group label::before {
	content: '';
	-webkit-appearance: none;
	background-color: transparent;
	border: 1px solid #FFF;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 10px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 12px;
	border-radius: 3px;
	top: -3px;
}

.form-group input:checked + label::after {
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	left: 8px;
	width: 6px;
	height: 14px;
	border: 6px solid #FFF;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.form-group label span{

}
/*End newslatter area design*/

/*Impress area design */
.impress_area_design{
	padding-bottom: 22px;
	position: relative;
	z-index: 1;
}
.impress_area_design::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 108%;
	top: -7%;
	left: 0;
	background: url(../images/home/shap1.png) no-repeat scroll 0 0 / 100% 100%;
	z-index: -1;
}
.impress_con{
}
.top_img{
}
.top_img img {
	width: 100%;
}
.logo_img {
	margin-top: -142px;
}
.logo_img img {
	margin-left: -56px;
}
.logo_img h1 {
	margin-left: 84px;
	margin-top: -27px;
}
.logo_img .line22 {
	background: #EC008C;
	margin-left: 118px;
	width: 216px;
}
.logo_img p {
	width: 85%;
	margin-top: 21px;
	margin-left: 16px;
}
/*End IMpress area design */

/*Niva area design */
.niva_area_design{
	background: url(../images/home/bg3.png) no-repeat scroll 0 0 / 100% 100%;
	overflow: hidden;
	opacity: 0.9;
	padding: 50px 0;
}
.niva_all_con{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 95%;
	margin:0 auto;
}
.niva_all_con h2{
	font-size: 36px;
	color: #FFF;
	font-weight: 700;
}
.niva_all_con a {
	background: #EC008C;
	border-radius: 4px;
	font-weight: bold;
	font-size: 36px;
	color: #FFF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 5px 50px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.niva_all_con a:hover{
	opacity: 0.8;
}
/*End Niva area design */
.video2 iframe {
	max-width: 599px;
	height: 280px;
}
.video2 {
	background: url(../images/home/shap2.png) no-repeat scroll;
	background-position: 0px 0px;
	background-size: 100% 100%;
	padding: 65px 20px;
	padding-bottom: 33px;
	margin-top: 22px;
}
.niva_video_area{
	padding-bottom: 20px;
}
.line11.line33 {
	margin-left: -41px;
	width: 200px;
}
.o_tag_con p {
	margin: 12px;
	margin-bottom: 0;
	margin-left: 20px;
	width: 92%;
}
.niva_area_design2{
	background: url(../images/home/bg4.png) no-repeat scroll 0 0 / 100% 100%;
	overflow: hidden;
}
.niva_area_design2 a{
	background: #FFF !important;
	color: #EC008C !important;

}
.testimonial_area_design {
	padding: 40px 0;
	padding-bottom: 100px;
	position: relative;
	z-index: 1;
}
.testimonial_area_design:after{
	position: absolute;
	content: "";
	background: url(../images/home/shap4.png) no-repeat scroll 0 0 / cover;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index: -1;
}
.test-title {
	width: 95%;
	margin: 0 auto;
}
.test-title h1{
	padding-left: 20px;
}

.test_con_all {
	margin-top: 80px;
}
.all_test{
	max-width: 90%;
	margin:0 auto;
}
.t_img {
	text-align: center;
	background: url(../images/home/v1.png) no-repeat scroll 0 0 / 100% 100%;
	width: 86%;
	margin: 0 auto;
}
.center .t_img {
	text-align: center;
	background: url(../images/home/v2.png) no-repeat scroll 0 0 / 100% 100%;
}
.t_img img {
	width: 212px !important;
	margin: 0 auto;
}
.single_test {
	text-align: center;
}
.single_test p {
	font-size: 14px;
	line-height: normal;
}
.single_test h2 {
	font-size: 28px;
	font-weight: 700;
	padding: 13px 0;
}
.common{
	position: relative;
}
.angle ul{
}
.angle ul li {
	width: 32px;
	height: 32px;
	background: #EC008C;
	border-radius: 3px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #FFF;
	font-size: 32px;
	position: absolute;
	top: 36%;
	left: 17px;
	cursor: pointer;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.next {
	left: inherit !important;
	right: 17px;
}
.angle ul li:hover{
	opacity: 0.7;
}


/*Blog area design*/
.blog_area_design{
	background: url(../images/home/shap5.png) no-repeat scroll 0 0 / cover;
}
.al_cen{
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.blog_img{
	text-align: right;
}
.blog_img img{
	max-width: 100%;
}
.blog_con{
}
.blog_con h2 {
	font-size: 28px;
	font-weight: 700;
}
.blog_con h2 span{
	color: #EC008C;
}
.blog_con p{
	font-size: 16px;
	line-height: normal;
	width: 90%;
}
.line55 {
	width: 160px;
	margin-left: 33%;
	margin-bottom: 14px;
}
/*End BLog area design */

/*Rss area design */
.rss_area_design{
	padding: 60px 0;
	overflow: hidden;
}
.all_rss {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 95%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin:0 auto;
}
.div_link{
}
.div_link ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.div_link ul li a {
	width: 45px;
	height: 45px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #C4C4C4;
	margin: 0 10px;
	border-radius: 4px;
}
.all_rss .test-title {
	width: auto;
	margin: 0;
}
/*End Rss area design */

/*Mobile area design */
.mobile_area_design {
	background: url(../images/home/bg5.png) no-repeat scroll 0 0 / cover;
	overflow: hidden;
	opacity: 0.8;
	padding: 80px 0;
	padding-bottom: 60px;
}
.mob_cen{
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.mob_all_con {
	text-align: center;
	color: #FFF;
}
.mob_all_con .newslatter_div {
	margin: 0 auto;
	margin-top: 20px;
}
/*End Mobile area design */

/*Footer area design*/
.footer_area_design {
	background: url(../images/home/bg6.png) no-repeat scroll 0 0 / cover;
	position: relative;
	z-index: 99;
	margin-top: -103px;
	padding-top: 100px;
}
.footer_logo img{
	width: 100%;
}
.footer_single h3 {
	color: #2E343E;
	font-weight: 700;
	font-size: 20px;
}

.footer_single ul{
	margin-top:6px;
}
.footer_single ul li{
	position: relative;
}
.footer_single ul li::before {
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	background: #2E343E;
	border-radius: 2px;
	top: 11px;
	left: 0;
}
.footer_single ul li a {
	color: ;
	color: #2E343E;
	font-weight: 500;
	font-size: 14px;
	padding: 4px 0;
	display: inline-block;
	padding-left: 14px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.footer_single ul li:hover a{
	opacity: 0.8;
}
.footer_single2 ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 0;
}
.footer_single2 ul li{
	padding: 0;

}
.footer_single2 h3{
	text-align: center;
}
.footer_single2 ul li:before{
	display: none;
}
.social_icon ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.social_icon ul li a {
	font-size: 25px;
	padding: 10px 19px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.social_icon ul li:hover a{
	opacity: 0.8;
}
.copyright {
	padding-bottom: 15px;
	background: #FFF;
}
.copy p{
	font-size: 12px;
	font-weight: 500;
	color: #2E343E;
	padding-left: 50px;
}
.icon_toggle {
	cursor: pointer;
	position: absolute;
	right: 0;
	display: none;
}
.icon_toggle span {
	width: 24px;
	height: 2px;
	background: #000;
	display: block;
	margin-bottom: 5px;
}
.icon_toggle span:last-child{
	margin-bottom: 0;
}
/*End Footer area design */